/xadrez/Library/CurrentLayout.dwlt
/xadrez/Library/LastSceneManagerSetup.txt
/xadrez/Library/shadercompiler-UnityShaderCompiler.exe0.log
/xadrez/obj/Debug/Assembly-CSharp-Editor.csprojResolveAssemblyReference.cache
